# openai api key for llm usage
OPENAI_API_KEY=
# region where we create resources for our usage. For customer AWS deployments they will provide their own region at runtime
AWS_REGION=
# Keys from the user we use to perform AWS operations in our own account
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
# AWS Role ARN that are used for managing docker images
AWS_PUSH_ROLE_ARN=
AWS_PULL_ROLE_ARN=
AWS_ECR_ROLE_ARN=
# used to store cloudformation template for setting up access to customer accounts as well as the lambdas we use for constructing connection strings
LAMBDA_BUCKET=prod-aws-deploy-staging