[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "*"
django-redis = "*"
elasticsearch = "*"
sendgrid = "*"
sentry-sdk = "*"

[dev-packages]
django-debug-toolbar = "*"
pytest = "*"
pytest-django = "*"

[requires]
python_version = "3.9" 